body{
	padding-top: 51px;
        
}

/* ng-cloak */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng.ng-cloak {
    display: none;
}
ul{

	list-style: none;
//text-align:center; 
}
a{
	color: #333;
}
a:hover{
	cursor: pointer;
}
ul.simple-post-list .post-image {
	float: left;
	margin-right: 12px;
}
ul.simple-post-list {
	list-style: none;
	margin: 0;
	padding: 0;
}
.callout-box{
	background-color: #546489;
	color: #fff;
	padding: 10px 20px;
}
.body-title{
	border: 1px solid #e3e3e3;
	border-left: 5px solid #234383;
	padding: 0 20px 20px;
}
.featured-box{
	border: 1px solid #e3e3e3;
	border-top: 5px solid #234383;
	padding: 0 20px 20px;
}
.breadcrumbs {
position: relative;
border-bottom: 1px solid #E5E5E5;
background-color: #F5F5F5;
}
.breadcrumb{
	margin-bottom: 0;
}
.cart-btn{
	border-radius:0;
}
.navbar {
	border-radius: 0;
	
/*background: #438EB9;
color: #fff;border: 0;*/

}
/* Removed width:auto from navbar-collapse classs; */
.navbar-collapse {
border-top: 0;
box-shadow: none;
}
.navbar .navbar-brand {
/*color: #FFF;
font-size: 24px;
text-shadow: none;
padding-bottom: 10px;*/
}
.form-group-addon{
	padding-left: -20px;
}
.colorBack{
  left:50%;
/*background: #FFFFFF;*/
border-radius: 15px 50px;
/*border-width: 4px; 
border-style: double; */
/* width:800px;
 height:400px;*/
 /*border-radius: 10px;*/
    
}
.centerDiv{
width:800px;
/*border-radius: 5px;
background:#464872;*/
padding:10px;
height:10px;
position:absolute;
margin-top:-25px;
margin-left:-400px;
top:20%;
left:50%;}

.centerDialogDiv{
width:800px;
border-radius: 5px;
background:#464872;
padding:10px;
height:10px;
position:absolute;
margin-top:-25px;
margin-left:-400px;
top:30%;
left:50%;}
.topcorner{
   position:absolute;
   top:0;
   right:0;
  }
  .leftcorner{
   position:absolute;
   top:0;
    left:80%;
  }
  .red {
    color: red; 
}
.rcorners6 {
    border-radius: 15px 50px;
    background: #D8D8D8;
    padding: 20px; 
    width: 200px;
    height: 150px; 
} 
.black {
    color: black;
}
  
  table.fixed { table-layout:fixed; }
table.fixed td { overflow: hidden; }

.differentTable, .differentTable td{
   border-color: black;
}
.img{
   position:absolute;
       left:5%;
  }
.legend rect {
  fill:white;
  stroke:black;
  opacity:0.8;}
  svg {
      border :2px solid #555;
      
  }
  .png-icon{
    margin: 5px auto auto;
    padding: 0;
    display: inline-block;
    background-repeat: no-repeat no-repeat;
    pointer-events: none;
}
.grid {
  width: 1500px;
  height: 400px;
}

.my-custom-menu {
  position: absolute;
}
 
.my-custom-menu .ui-grid-menu {
  padding: 0px;
}
 
.my-custom-menu .ui-grid-menu-inner {
  -webkit-box-shadow: none;
  box-shadow: none;
}
 
.rotated {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}

.ui-grid-menu-button {
  height: 31px;
}
