
<header>
    <a>
        <img src="assets/images/AstrakhanLogo.png" style="height: 250px;">
    </a>
</header>
<md-content ng-controller="NavbarController">
    <ul layout="column" class="selecteur-menu">
        <li  >
            <md-button class="md-raised" ng-click="main()" >Accueil</md-button>
        </li>
        <li  >
            <md-button class="md-raised md-primary" ng-click="search()" >Recherche</md-button>
        </li>
        <li  >
        <md-button class="md-raised" ng-click="insert()">Insertion</md-button>
        </li>
    </ul> 
  </md-content>